
.main-img{
    background-image: url('../img/main1.svg ');
    color: var(--white-color);
    background-size: 130rem;
    background-position: center center;

}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}


body .full-width {
    width: 100%;
    flex: 1 1 100%;
}