

    
        .menu-spacing{
            height: -2rem;
        }



        .menu {
            border-bottom: 0.2rem solid #e3e2e2;
            position: fixed;
            z-index: 9;
            height: 3.5rem;
            top: 0;
            left:0;
            right: 0;
            width: 100%;
            padding: 1rem;
            

        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
        }

        
        
        .menu ul{
            list-style: none;
            display: flex;
            margin-right: 2rem;



        }

        .menu  nav ul li a{
            display: block;
            text-decoration: none;
            padding: 1.8rem;
            padding-top: 0.57rem;
            font-size: 1.4rem;
            position: relative;
            margin-right: 1rem;
        
        }

        .menu ul a:visited{
            color: var(--back-color);
        }

        .header .logo {
            text-decoration: none;
            font-size: 1.8rem;
            color: var(--back-color);
            padding: 1rem;
            padding-top: 0.30rem;
            margin-left: 2rem;
        }

        .header .logo a {
            text-decoration: none;
            color: var(--back-color);
            
        }





          ul li a::after {
            content: '';
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            width: 0;
            height: 0.2rem;
            background: var(--secodary-color); 
            transition: all 300ms ease-in-out;

        }
 
        .menu ul li a:hover::after{
            width: 50%;
            left: 25%; 

        }   